{% extends 'base.html'%}
{% load zinnia_tags tagging_tags i18n %}
{% tags_for_model zinnia.entry as tag_entry %}
{% block fd_content %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="keywords" content="{{ tag_entry|join:", "}}, {% block meta-keywords %}{% endblock %}" />
    <meta name="engine" content="Zinnia {{ ZINNIA_VERSION }}" />
    {% block meta %}{% endblock %}
    <link rel="home" href="{% url zinnia_entry_archive_index %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ZINNIA_MEDIA_URL }}css/screen.css" />
    <style type="text/css">
	{# override stupid shit from screen.css #}
	body { font-size: 100%; }
	h3 { font-size: 1.0em; }
	table.month { font-size: 75%; }
	#content #sidebar ul { margin-left: 0px; }
	#sidebar ul { margin-left: 0px; }
	ul { list-style-type: none; }
    </style>
    {# this brings in jquery get_archives_entries "zinnia/tags/archives_entries_link.html" #}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="EditURI" type="application/rsd+xml" href="{% url zinnia_rsd %}" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url zinnia_wlwmanifest %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest entries" %}" href="{% url zinnia_entry_latest_feed %}" />
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    <title>Founder Dating Blog - {% block title %}{% endblock %}</title>
  </head>
  <body id="zinnia">
    <div class="container">
      <div id="header" class="span-24 last">
	<div class="top-navigation">
	  <a href="{% url zinnia_sitemap %}" title="{% trans "Sitemap" %}" class="link sitemap">{% trans "Sitemap" %}</a> |
	  <a href="{% url zinnia_entry_latest_feed %}" title="{% trans "RSS Feed of latest entries" %}" class="link feeds">{% trans "RSS Feed" %}</a>
	</div>
      </div>
      <hr />
      <div id="body" class="span-24 last">
	<div id="content" class="hfeed span-16 border">
	  {% block content %}
	  {% endblock %}
	</div>
	<div id="sidebar" class="span-8 last">
	  {% block sidebar %}
	  {% endblock %}
	</div>
      </div>
      <hr />
      <div id="footer" class="span-24 last">
	<p>Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="http://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.</p>
      </div>
    </div>
{% endblock fd_content %}
