{% extends 'base.html'%}

{% block fd_content %}

<form action="/attend/save" method="post">
{% csrf_token %}
  
  <div id="request_form">
    
    <h2><label for="name">Name</label></h2>
    <p><input type="text" id="name" name="name" class="text" value="{%if user.first_name %}{{user.first_name}} {{user.last_name}}{%endif%}"/></p>
    
    <h2><label for="email">Email address</label></h2>
    <p><input type="text" id="email" name="email" class="text" value="{{user.email}}" /></p>
    
    <h2><label for="event">Event</label></h2>
    <ul>
      {% for e in upcoming_events %}
	<li><label><input type="radio" name="event_id" class="radio" value="{{e.id}}"/>{{e.event_location.display}} - {{e.event_date}}</label></li>
      {% endfor %}
      {% if get.event %}
        <script>$('input[name=event][value="{{get.event}}"]').attr("checked", "true");</script>
      {% endif %}
    </ul>
    
    <h2><label for="skillset">Specify your primary skillsets</label></h2>
    
    <ul>
      {% for skill in skillsets %}
        <li><input type="checkbox" name="bring_skillsets" class="check" value="{{skill}}"/>{{skill}}</li>
      {% endfor %}
    </ul>
    
    <h2><label for="past_experience">Please tell us about your previous experience</label></h2>
    <p><textarea id="past_experience" name="past_experience_blurb" cols="40" rows="8"></textarea></p>
    
    <h2><label for="linkedin">Linkedin Profile link</label></h2>
    <p><input type="text" id="linkedin" name="linkedin_url" class="text" value="" /></p>
    
    <h2><label for="bring">What do you think you bring to a founding team</label></h2>
    <p><textarea id="bring" name="bring_blurb" cols="40" rows="8"></textarea></p>
    
    <h2><label for="classify">I would classify myself as the following</label></h2>
    <ul>
     {% for value, display in idea_status_choices.items %}
      <li><label><input type="radio" name="idea_status" class="radio" value="{{ key }}"  /> {{ display }}</label></li>
     {% endfor %}
    </ul>
    
    <h2><label for="interest">Areas of interest</label></h2>
    <ul>
      {% for interest in interests %}
	<li><input type="checkbox" name="interests" class="check" value="{{interest}}"/>{{interest}}</li>
      {% endfor %}
    </ul>
    
    <h2><label for="interests_more">Areas of Interest (Please add any additional interests you have)</label></h2>
    <p><input type="text" id=interests_more" name="interests_more" class="text" value="" maxlength="100" /></p>
    
    <h2><label for="start">When can you start?</label></h2>
    <ul>
     {% for value, display in start_choices.items %}
      <li><label><input type="radio" name="can_start" class="radio" value="{{value}}"  /> {{display}}</label></li>
     {% endfor %}
    </ul>
    
    <h2><label for="partner_skillsets">I’m looking for a partner with the following skillsets</label></h2>
    <ul>
      {% for skill in skillsets %}
        <li><input type="checkbox" name="need_skillsets" class="check" value="{{skill}}"/>{{skill}}</li>
      {% endfor %}
    </ul>
    
    <h2><label for="building">Please tell us about what you&rsquo;re building or interested in. the more detail the better able we are to match you with potential partners.</label></h2>
    <p><textarea id="building" name="building" cols="40" rows="8"></textarea></p>
    
    <h2><label>People who would recommend you</label></h2>
    
    <p style="margin-bottom:2px;color:#666">Note: these should be people you've worked with in the past</p>
    
   {% for i in three %} 
    <p style="margin:0">
      <div style="float:left; width:240px;">
        <label style="font-size:.7em;color:#666;">Name</label>
        <input type="text" name="recommend_name" class="text" value="" />
      </div>
      <div style="float:left; width:240px;">
        <label style="font-size:.7em;color:#666;">Email</label>
        <input type="text" name="recommend_email" class="text" value="" />
      </div>
      <div class="clear"></div>
    </p>
   {% endfor %}
    
    <br /> 
    <br /> 
    <p><input type="submit" value="Apply" /></p>
    
  </div>
  
</form>  
{% endblock fd_content %}

