<!DOCTYPE html>
{% load static %}
{% load cms_tags %}
{% get_static_prefix as STATIC_PREFIX %}

<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/layout.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
  <title>{% block title %}Founder Dating{% endblock %}</title>
  <script src="/static/js/jquery-1.5.2.min.js"></script>
  {% block meta %}{% endblock %}
</head>
<body>
<div id="header">
  <div class="gasket">
    <div class="account">
	{% if user.is_authenticated %}
              <p>Signed in as 
		{%if user.first_name %}
		  {{user.first_name}} {{user.last_name}}
		{% else %}
		  {% if user.email %}
		    {{user.email}}
		  {% else %}
		    {{user.username}}
		  {% endif %}
		{% endif %}
		&nbsp;&nbsp; <input type="button" onclick='window.location.href="/profiles/signout"' class="small_button" value="Sign out" /></p>
	{% else %}
              <p>You are not signed in &nbsp;&nbsp; <input type="button" onclick='window.location.href="/profiles/signin"' class="small_button" value="Sign in" /></p>
	{% endif %}
    </div><!-- .account -->

    <h1><a href="/">FounderDating</a></h1>
    
    <ul class="tabs first_tab_active">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/upcoming">Upcoming</a><ul class="sub">
		<li><a href="/upcoming/sanfrancisco">San Francisco</a></li>
		<li><a href="/upcoming/seattle">Seattle</a></li>
</ul></li>
              <li><a href="/attend">Attend</a></li>

              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/faqs">FAQs</a></li>
              <li><a href="/press">Press</a></li>
          </ul><!-- /ul.tabs -->

  </div><!-- /.gasket -->

  
</div><!-- /#header -->

<div id="main" class="gasket">

  <div id="content">
    {% block body %}
      <div class="content_title">
        {% block content_title %}{% endblock %}
      </div>
      <div class="content">
	 {% placeholder base_content %}
	 {% block content%}{% endblock %}
      </div>
    {% endblock %}
 </div><!-- /#content -->
  
  <div id="sidebar">
	 {% placeholder side_bar %}
  </div><!-- /#sidebar -->
  
</div><!-- /#main.gasket -->

<div id="footer">
  
  <div class="gasket">
    
    <p>&copy; <script>document.write((new Date).getFullYear())</script> Founder Dating. All rights reserved.</p>

  </div><!-- /.gasket -->
  
</div><!-- /#footer -->

</body>
</html>
