<!DOCTYPE html>
{% load static %}
{% load cms_tags %}
{% get_static_prefix as STATIC_PREFIX %}

<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/layout.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
  <title>{% block title %}Founder Dating{% endblock %}</title>
  <script src="/static/js/jquery-1.5.2.min.js"></script>
  {% block meta %}{% endblock %}
</head>
<body>
<div id="header">
  <div class="gasket">
    <div class="account">
	{% if user.is_authenticated %}
              <p>Signed in as {{user.username}} &nbsp;&nbsp; <input type="button" onclick='window.location.href="/profiles/signout"' class="small_button" value="Sign out" /></p>
	{% else %}
              <p>You are not signed in &nbsp;&nbsp; <input type="button" onclick='window.location.href="/profiles/signin"' class="small_button" value="Sign in" /></p>
	{% endif %}
    </div><!-- .account -->

    <h1><a href="/">FounderDating</a></h1>
    
    <ul class="tabs first_tab_active">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/upcoming">Upcoming</a><ul class="sub">
		<li><a href="/upcoming/sanfrancisco">San Francisco</a></li>
		<li><a href="/upcoming/seattle">Seattle</a></li>
</ul></li>
              <li><a href="/attend">Attend</a></li>

              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/faqs">FAQs</a></li>
              <li><a href="/press">Press</a></li>
          </ul><!-- /ul.tabs -->

  </div><!-- /.gasket -->

  
</div><!-- /#header -->

<div id="main" class="gasket">

  <div id="content">
    {% block body %}
      <div class="content_title">
        {% block content_title %}{% endblock %}
      </div>
      <div class="content">
	 {% placeholder base_content %}
	 {% block base_content%}{% endblock %}
      </div>
    {% endblock %}
 </div><!-- /#content -->
  
  <div id="sidebar">
	 {% placeholder side_bar %}
    
      <div class="sector" id="plug">
  
    <h2>About <span>Founder</span>Dating</h2>
    
    <p>FounderDating aims to bring together super talented entrepreneurs with different backgrounds and skill sets to start innovative new companies.</p>

    
  </div><!-- /#plug.sector -->

  <div class="sector" id="follow_us">
  
    <h2>Follow us on Twitter</h2>
    
  
  </div><!-- /#follow_us.sector -->


  <div class="sector" id="who_we_are">
  
    <h2>Who we are</h2>
  
    <ul>
      <li>
        <a href="http://www.crv.com/team/saar_gur/" title="Saar Gur" target="_blank"><img src="http://a1.twimg.com/profile_images/66824800/2008Oct24_0335a_bigger.jpg" alt="Saar Gur" /></a>
        <h3>Saar Gur</h3>

        <p>Saar Gur is a partner at Charles River Ventures (CRV). Saar is passionate about discovering and growing early-stage companies and focuses on CRV’s consumer and internet investments. </p>
      </li>
      <li>
        <a href="http://www.linkedin.com/profile?viewProfile=&key=1074199&trk=tab_pro" title="Jessica Alter" target="_blank"><img alt="Jessica Alter"/></a>
        <h3>Jessica Alter</h3>
        <p>Jessica is Founder at Formative Labs and Chief Connector at FounderDating.  She is passionate about helping fellow entrepreneurs find their founder soulmate.</p>
      </li>

    </ul>
  
    <p><input type="button" onclick='window.location.href="/about"' class="small_button" value="Follow Us" /></p>
  
  </div><!-- /#who_we_are.sector -->


    
  </div><!-- /#sidebar -->
  
</div><!-- /#main.gasket -->

<div id="footer">
  
  <div class="gasket">
    
    <p>&copy; <script>document.write((new Date).getFullYear())</script> Founder Dating. All rights reserved.</p>

  </div><!-- /.gasket -->
  
</div><!-- /#footer -->

</body>
</html>
